@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Software FerreteriaProMAX</p>
<hr />
<p>Aplicacion Web desarrollada por los alumnos</p>
<hr />
<p>Aaron Benjamin Canton Carballo</p>
<hr />
<p>Jefferson Stiven Barrera Garay</p>
